{
  "printWidth": 80,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "useTabs": false,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": [".eslintrc", ".prettierrc"],
      "options": { "parser": "json" }
    }
  ]
}
